<h1>Search#dispResults</h1>
<p>Find me in app/views/search/dispResults.html.erb</p>

<div>
<%= link_to 'Advanced event search', search_eventAdvSearch_path %>
</div>
<div>
<%= link_to 'Advanced society search', search_societyAdvSearch_path %>
</div>

<% if !@events.nil? %>
	<h3>Events</h3>
	<ul>
		<% @events.each do |event| %>
			<li><%= link_to event.name, :controller => 'events', :action => 'show', :id => event.id %>
			</li>
		<% end %>
	</ul>
<% end %>

<% if !@societies.nil? %>
	<h3>Societies</h3>
	<ul>
		<% @societies.each do |society| %>
			<li><%= link_to society.name, :controller => 'societies', :action => 'show', :id => society.id %>
			</li>
		<% end %>
	</ul>
<% end %>