<h1>Search#dispResults</h1>
<p>Find me in app/views/search/dispResults.html.erb</p>

<h3>Events</h3>
<ul>
	<% @events.each do |event| %>
		<li><%= link_to event.name, :controller => 'events', :action => 'show', :id => event.id %>
		</li>
	<% end %>
</ul>

<h3>Societies</h3>
<ul>
	<% @societies.each do |society| %>
		<li><%= link_to society.name, :controller => 'societies', :action => 'show', :id => society.id %>
		</li>
	<% end %>
</ul>