<hr/>

<footer>	
	<div class="container">
		<div class="row">
			<div class="col-md-6 pull-left">
				ClubBiz Inc. <br/>
				3 Grattan st, <br/>
				Parkville VIC <br/>
				Australia 3010 <br/>
			</div>

			<div class="col-md-6 pull-right">
				Webmaster <br/> 
				John Smith <br/>
				johnsmith@clubbiz.com <br/>
				<%= link_to 'Web Admin Log In', '#' %> <br/>
			</div>
		</div>
	</div>
</footer>