<hr/>

<footer> <h3>Footer Title</h3>
	<p>
		<em>Footer for every page.</em> <br/>
		ClubBiz Inc. <br/>
		3 Grattan st, <br/>
		Parkville VIC <br/>
		Australia 3010
	</p>
	<p>
		Webmaster <br/> 
		John Smith <br/>
		johnsmith@clubbiz.com <br/>
		<%= link_to 'Web Admin Log In', '#' %>
	</p>
</footer>