<hr/>

<footer>	
		<div class="row">
			<div class="col-sm-4">
				<em>Footer for every page.</em> <br/>
				ClubBiz Inc. <br/>
				3 Grattan st, <br/>
				Parkville VIC <br/>
				Australia 3010
			</div>

			<div class="col-sm-4">
				<!-- <p align="right"> -->
				Webmaster <br/> 
				John Smith <br/>
				johnsmith@clubbiz.com <br/>
				<%= link_to 'Web Admin Log In', '#' %>
				<!-- </p> -->
				<img src="app/assets/images/University-of-Melbourne.jpg">
			</div>
		</div>


</footer>